/*------------------------------------------------------*/
.header{
	background-color: black;
	box-shadow: 0 8px 6px -2px cyan;
	/*higher the z index higher the stack order(influence)*/
}

.logo img{
	float: left;
	width: 150px;
	height: 80px;
	margin-left: 70px;
	margin-top: 0px;
}

.header-ul{
	float: right;
	list-style: none;
}

.header-ul li{
	display: inline-block;
	margin-right: 20px;
	margin-top: 25px;
}

.header-ul li a{
	position: relative;
  display: inline-block;
  padding: 5px;
  background: black;
  color: cyan;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s ease;
  letter-spacing: 1px;
}

.header-ul li a:hover{
	background: #03e9f4;
	color: black;
	font-size: 15px;
	border-radius: 10px;
	box-shadow: 0 0 5px #03e9f4,
	            0 0 25px #03e9f4,
	            0 0 50px #03e9f4,
	            0 0 100px #03e9f4;
}

.header-ul li a span {
  position: absolute;
  display: block;
}

.header-ul li a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, cyan);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.header-ul li a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, cyan);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.header-ul li a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, cyan);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.header-ul li a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, cyan);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*--------------------rotating on border----------------*/

/*------------------------------------------------------*/


/*------------------------------------------------------*/

.home{
	height: 720px;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px cyan;
}

.personal_image{
	position: absolute;
    top: 100px;
	margin-top:70px;
}

.personal_image img{
	width: 270px;
    border-radius: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	transition: .8s ease;
}


.typewriter h2 {
	text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .03em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .03em; /* Adjust as needed */
  animation: 
    typing 4s steps(40,end) infinite,
    blink-caret .75s step-end infinite;
	color:cyan;
	margin-top:350px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.scroll{
	color: orange;
	text-shadow: 2px 2px 12px green;
	padding-top: 150px;
	margin-left: 440px;
}

/*------------------------------------------------------*/

.aboutme{
	height: 980px;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(../images/ame.jpg);
	box-shadow: 0 8px 6px -2px cyan;
}

.intro{
	color:white;
	float:left;
	text-align:center;
	justify-content:center;
	padding-top:30px;
	font-family:'Montserrat';
	padding-left:20px;
	padding-right:20px;
	font-size:22px;
	font-style:bold;
	line-height:1.5;
	color:cyan;
	letter-spacing:1.5px;
}

.intro:hover {
	color:white;
}

.edu{
	font-size: 22px;
    color: black;
    font-weight: bold;
	font-family:'Montserrat';
    text-align: center;
	margin-top: 30px;
    background-color: #DADAE4;
    border-radius: 2px;
    padding: 2px;
    display: inline;
}

.edu:hover{
	color:cyan;
	background-color:black;
	transition:0.5s ease;
}

.eduleft{
	text-align: center;
    line-height: 2em;
    padding-left: 35px !important;
	color:cyan;
	text-align:center;
	margin-top:40px;
}

.head{
	font-size: 18px;
    font-weight: 600;
}

.duration{
	font-size:15px;
	font-weight: 500;
}

.content{
	font-size: 13px;
    line-height: 1.5em;
}

.eduleft:hover{
	color:white;
}

.college_image{
	width: 100px;
	height: 100px; 
	margin-left: -30px;
}

.btn {
    background-color: #DADAE4;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 25px;
	letter-spacing:1px;
	border-radius: 2px;
	margin: 0px auto 0 auto;
	font-weight: 900;
	font-family:'Montserrat';
	text-align:center;
}

.btn:hover {
    background-color:black;
	color:cyan;
	transition:0.5s ease;
	font-size: 25px;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
.experience{
	height: 1530px;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(../images/experience.jpg);
	background-position: cover;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px cyan;
}

.intern_image{
	width: 100px;
	height: 100px; 
	margin-left: -10px;
	border-radius: 20px;
	margin-top: 15px;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
.skills{
	height: 750px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/skls.jpg);
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px cyan;
}

.circle{
	background-color:#DADAE4;
	width:130px;
	height:130px;
	border-radius:110px;
	text-align:center;
	margin-left:80px;
	margin-top:50px;
	float:left;
}

.circle:hover{
	background-color:transparent;
	color:cyan;
	transition:.5s ease;
}

.skillname{
    font-weight: bold;
    text-align: center;
    padding-top:40px;
	align-items:center;
	justify-content:center;
	font-family:'Montserrat';
	font-size:25px;
}

.skillname:hover{
	-webkit-transform: scale(1.5);
	transition:.5s ease;
	color:cyan;
}

.skill_heading{
	text-align: center;
	padding-top: 20px;
	color: cyan;
	text-shadow: 2px 2px 12px black;
}


/*------------------------------------------------------*/

/*------------------------------------------------------*/

.projects{
	height: 850px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/proj.jpg);
	background-repeat: no-repeat;
	background-attachment: cover;
	background-position: center;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px cyan;
}

.btn1{
  width: auto;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  display:block;
  margin:auto;
  padding:auto;
  position: relative;
  font-size:1.5em;
  letter-spacing:0.3em;
}

.btn1:hover {
    background-color:black;
	color:cyan;
	transition:0.5s ease;
}

.projdesc{
	text-align:center;
	color:cyan;
	font-family:'Montserrat';
	font-size:1.5em;
	margin-top:10px;
	text-shadow: 2px 2px 12px green;
}

.projdesc:hover{
	font-size:1.8em;
	transition:.5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
}

.column:hover img{
	transition: .5s ease;
	opacity: 0.2;
}

.column:hover .btn1 {
	opacity: 1;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/

.connections{
	height: 750px;
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url(../images/connect.jpg);
	background-repeat: no-repeat;
	background-attachment: cover;
	background-position: center;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px cyan;
}

#modalWindow {
	position: fixed;
	font-family: arial,helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms linear;
	pointer-events: none;
}
#modalWindow:target {
	opacity:1;
	pointer-events: auto;
}
#modalWindow > div {
	width: 400px;
	height: 270px;
	position: relative;
	margin: 10% auto;
	padding: 20px 20px 13px 20px;
	border: solid;
	border-color: black;
	border-width : 2px;
	background: black;
	border-radius: 10px;
}

.modaltext{
	text-align:center;
	color:cyan;
	line-height:1.5em;
	font-size:20px;
	padding-top:30px;
}

.modaltext:hover{
	color:white;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
.footer{
	background-color: black;
	font-family: 'Montserrat';
	text-align: center;
	color:cyan;
	overflow-x: hidden;
	min-height: 40px;
	padding: 10px 50px 10px 50px;
	box-shadow: 0 8px 6px -2px cyan;
}

/*------------------------------------------------------*/
.section_heading{
	text-align: center;
	padding-top: 20px;
	color: cyan;
	text-shadow: 2px 2px 12px black;
}

.icon{  
    margin: 0 10px;
    width:40px;
    border-radius:3px;
    -webkit-transform: rotate(7200deg);
    -webkit-transition: -webkit-transform 5s ease-in-out;
}

.icon:hover{
    -webkit-transform: rotate(720deg);
    -webkit-transition: -webkit-transform 1s ease-in-out;
}


/*-------------------------------------------*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 750px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1140px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.content_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.content_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid orange;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid red;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent red;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid red;
  border-width: 10px 10px 10px 0;
  border-color: transparent red transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.timeline_content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
  color: cyan;
  border: 3px solid cyan;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
}

.timeline_content:hover{
    -webkit-transform: rotate(360deg);
    -webkit-transition: -webkit-transform .5s ease-in-out;
}

/*social-media*/


.fa-envelope{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none !important;
  margin-top:100px;
  border-radius: 80%;
  color:cyan;
	background:black;
  margin-left:60px;
  float:left;
}

.fa-envelope:hover{
	opacity:0.9;
	transition:.5s ease;
	background:red;
  color: white;
	font-size:75px !important;/*overriding inherited value*/
}

.fa-linkedin-in{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  color:cyan;
	background:black;
  margin-left:60px;
  float:left;
}

.fa-linkedin-in:hover{
	opacity:0.9;
	transition:.5s ease;
	background: #007bb5;
  color: white;
	font-size:75px !important;
}

.fa-facebook-f{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  color:cyan;
background:black;
  margin-left:60px;
  float:left;
}

.fa-facebook-f:hover{
	opacity:0.9;
	background: #3B5998;
  color: white;
	transition:.5s ease;
	font-size:75px !important;
}

.fa-instagram{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  background:black;
  margin-left:60px;
  color:cyan;
  float:left;
}

.fa-instagram:hover{
	opacity:0.9;
	color: white;
	background: #e95950;
	transition:.5s ease;
	font-size:75px !important;
}


.fa-whatsapp{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  background:black;
  margin-left:60px;
  color:cyan;
  float:left;
}

.fa-whatsapp:hover{
	opacity:0.9;
	color: white;
	background: green;
	transition:.5s ease;
	font-size:75px !important;
}

.fa-phone-volume{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  background:black;
  margin-left:60px;
  color:cyan;
  float:left;
}

.fa-phone-volume:hover{
	opacity:0.9;
	color: white;
	background:purple;
	transition:.5s ease;
	font-size:75px !important;
}

.fa-street-view{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  background:black;
  margin-left:60px;
  color:cyan;
  float:left;
}

.fa-street-view:hover{
	opacity:0.9;
	color: white;
	background:blue;
	transition:.5s ease;
	font-size:75px !important;
}


.fa-github{
  padding: 40px;
  font-size:70px !important;
  width: 150px;
  height:150px;
  text-align: center;
  text-decoration: none;
  margin-top:100px;
  border-radius: 80%;
  background:black;
  margin-left:60px;
  color:cyan;
  float:left;
}

.fa-github:hover{
	opacity:0.9;
	color: red;
	background:black;
	transition:.5s ease;
	font-size:75px !important;
}
